<!doctype html>

<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->

<html>
<head>
	<meta charset="utf-8">
	<title>SF Food Truck Tracker</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">	
	<meta name="description" content="Find your favorite food trucks">

	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Stylesheets -->
	<link href="/scripts/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="/stylesheets/custom.css" rel="stylesheet">

	<!-- JavaScript -->
 	<script src="/scripts/vendor/modernizr/modernizr.js"></script>

</head>

	<body>

	<!-- NAVBAR -->
	<nav class="navbar navbar-inverse navbar-fixed-top" id="main-navbar" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<a href="/" class="navbar-brand">SF Food Truck Tracker</a>
			</div> <!-- end navbar-header -->

			<div class="collapse navbar-collapse" id="navbar-collapse">
				<ul class="nav navbar-nav">
				</ul>
			</div> <!-- end collapse -->
		</div> <!-- end container -->
	</nav>

		{{{body}}}

		<div style='position: absolute; bottom: 0; height:40px'>
		</div>

		<!-- Start FOOTER -->
		<div class="container">
			<footer>

				<hr>

				<div class="container text-center">

					<ul class="list-inline">
					</ul>
				
					<p>&copy; Copyright 2014.</p>
				
				</div> 

			</footer>
		</div> 
		<!-- End FOOTER -->
		
	<script src="/scripts/vendor/jquery/jquery.min.js"></script>
	<script src="/scripts/vendor/bootstrap/dist/js/bootstrap.min.js"></script>


	</body>
</html>