

<div class="container text-center full-height">

	<div id="map-canvas"></div>

</div> 


<!-- map script -->
<!--
<script src="https://maps.googleapis.com/maps/api/js?sensor=false">
</script>
-->
<script src="/scripts/vendor/requirejs/require.js"
data-main="/scripts/main" type="text/javascript"></script>

{{!-- <script src="/scripts/mapscript.js"></script>
 --}}

