

<div class="container-fluid">

		<section>
		
			<div class="page-header">
				<input type="text">
				<button>Search</button>
			</div>

			<div class="row">

				<div class="col-sm-4">

					<div id="trucks-list" class="list-group">
					</div>

				</div>

				<div class="col-sm-8 mapCont">
					<div id="map-canvas"></div>
				</div>

			</div> 

		</section>

</div> 


<script src="/scripts/vendor/requirejs/require.js"
data-main="/scripts/main" type="text/javascript"></script>

