
var config =  {

    development: {

      root: require('path').normalize(__dirname + '/..'),

      app: {
        name: 'Food Trucks: Development'
      },

      truckDataAPI: 'http://data.sfgov.org/resource/rqzj-sfat.json',

      httpPort: 3000,

      db: 'mongodb://localhost/food_trucks_dev',

      sessionSecret: 'this_is_a_secret_key'

    }, 

    test: {

      root: require('path').normalize(__dirname + '/..'),
      
      app: {
        name: 'Food Trucks: Testing'
      },

      truckDataAPI: 'http://data.sfgov.org/resource/rqzj-sfat.json',

      httpPort: 3001,      

      db: 'mongodb://localhost/food_trucks_test',

      sessionSecret: 'this_is_a_secret_key'

    }, 

    production: {

      root: require('path').normalize(__dirname + '/..'),

      app: {
        name: 'Food Trucks'
      },

      truckDataAPI: 'http://data.sfgov.org/resource/rqzj-sfat.json',

      httpPort: 3002,      

      db: 'mongodb://localhost/food_trucks_dev',
            
      sessionSecret: 'this_is_a_secret_key'
      
    }
}

module.exports = config[process.env.NODE_ENV || 'development'];



